/* .list-group-item {
  line-height: 2.5;
} */


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px #D82257 dashed;
}