#gameName {
  font-family: "Notable";
  font-size: 24pt;
 /* text-align: center; */
 }
 
 .container{
  width: 980px;
  height: 100%;
  /* background-image: url("/public/assets/img/odschooltv.jpg"); */
  background-repeat: no-repeat;
 }
 
 .row{
  width: 980%;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
 }
 
 .box {
  border-radius: 25px;
  width: 150px;
  height: 150px;
  background: blueviolet;
  margin: 5px 5px 5px 5px;
  position: relative;
  overflow: auto;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: white;
  justify-content: center;
 }
 

.catBox{
display: block;
}

 .amt {
   color: white;
   font-size: 24pt;
 }
