 .container{
  width: 980px;
  height: 100%;
  /* background-image: url("/public/assets/img/odschooltv.jpg"); */
  background-repeat: no-repeat;
 }

.playerList {
   border-radius: 25px;
   width: 200px;
   height: 400px;
   background: lightblue;
   margin: 5px 5px 5px 5px;
   overflow: auto;
   float: left;
   text-align: center;
   color: white;
   justify-content: center;
  }
 .gamer {
   border: 1px solid black;
   height: 100px;
   margin-bottom:10px;
   background-color: rgb(173, 104, 173);
 }
 .gField {
   height: 25px;
   margin: 0;
 }
 #curPlayer {
   background-color:rgb(146, 61, 146);
   height: 25px;
   margin: 0;
   font-weight: bold;
 }

 .row{
  width: 1240px;
  height: 135px;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .box {
  border-radius: 25px;
  width: 175px;
  height: 125px;
 background-color:  rgb(68, 68, 238);
  margin: 5px 5px 5px 5px;
  position: relative;
  overflow: auto;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: white;
  justify-content: center;
  padding-top:20px;
 }

.catBoxTop {
  border-radius: 25px;
  width: 175px;
  height: 125px;
 background-color:  rgb(68, 68, 238);
  margin: 5px 5px 5px 5px; 
  line-height: 20px;
  position: relative;
  overflow: auto;
  float: left;
  text-align: center;
  vertical-align: middle;
  color: white;
  justify-content: center;
  padding-top:50px;
  
}

.catBox {
  text-align: center;
  vertical-align: middle;
  color: white;
  justify-content: center;
  padding-top: 75px;
}

 .amt {
   color: white;
   font-size: 24pt;
  pointer-events: none;
 }

 .btnAnswer {
  border-top: 1px solid white;
  background:white;
  background: -webkit-gradient(linear, left top, left bottom, from(#606569), to(#e6eaed));
  background: -webkit-linear-gradient(top, #606569, #6ca0c7);
  background: -moz-linear-gradient(top, #606569, #6ca0c7);
  background: -ms-linear-gradient(top, #606569, #6ca0c7);
  background: -o-linear-gradient(top, #606569, #6ca0c7);
  padding: 5px 10px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #ffffff;
  font-size: 18px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;

  }

.questionDiv {
  font-weight: bold;
  text-align: center;
  font-size: 16pt;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

body {
   background-color:rgb(185, 183, 183); 
}

button {
  color: rgb(96, 96, 131);
}

.modal-content {
  background-color: rgb(68, 68, 238);
}

.modal-header{
  color: white;
}
